@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "Indie Flower", serif;
    font-style: normal;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    top: -40px;
}

@media (min-width: 768px) {
    .container {
        grid-template-columns: 1fr 2fr;
    }
}

.header {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
    text-align: left;
    position: relative;
    left: -40px;
}

.header img {
    width: 400px;
    height: auto;
    margin-right: 20px;
}

.header h1 {
    font-size: 2em;
    color: #963c8f;
}

.illustration {
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustration img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.game-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.word-display {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.input-panel input {
    padding: 10px;
    font-size: 1.5em;
    width: 50px;
    text-align: center;
}

.button-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.button-panel button {
    padding: 10px;
    background-color: #c6aab8;
    border-color: #963c8f;
    border-width: 5px;
    color: #963c8f;
    text-decoration: none;
    font-size: 1.5rem;
    transition: background-color 0.3s;
    border-radius: 5px;
    cursor: pointer;
    width: 70%;
    max-width: 200px;
    gap: 5px;
    border-style: inset;
}

.button-panel button:hover {
    background-color: #963c8f;
    color: #c6aab8;
    border-width: 5px;
    border-style: outset;
    border-color: #c6aab8;
}

.buttonn-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.buttonn-panel button {
    padding: 10px;
    background-color: #c6aab8;
    border-color: #963c8f;
    border-width: 5px;
    color: #963c8f;
    text-decoration: none;
    font-size: 1.5rem;
    transition: background-color 0.3s;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    gap: 5px;
    border-style: inset;
}

.buttonn-panel button:hover {
    background-color: #963c8f;
    color: #c6aab8;
    border-width: 5px;
    border-style: outset;
    border-color: #c6aab8;
}

.letter-grid {
    background-color: #c6aab8;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-items: center;
}

.letter-grid span {
    font-size: 1.2em;
    padding: 5px;
}

.ranking {
    background-color: #c6aab8;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.zielony { color: #963c8f; font-weight: bold; }
.czerwony { color: #c6aab8; }
.szary { color: gray; }
.litery { font-size: 1.2em; margin-top: 10px; }
.litera { margin: 0 5px; display: inline-block; }
