/* Importowanie czcionek i frameworka Bootstrap */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

body {
    background-color: #d9d9d9;
    font-family: Arial, sans-serif;
}

/*Strona główna*/
.home-page .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    font-family: "Indie Flower", serif;
    font-style: normal;
}
.home-page h1 {
    color: #333;
    font-size: 5rem;
    margin-bottom: 20px;
}
p {
    color: #666;
    font-size: 2rem;
}
.home-page .btn {
    background-color: #c6aab8;
    border-width: 5px;
    border-style: inset;
    border-color: #963c8f;
    color: #963c8f;
    padding: 12px 21px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.5rem;
    transition: background-color 0.3s;
}
.home-page .btn:hover {
    background-color: #963c8f;
    color: #c6aab8;
    border-width: 5px;
    border-style: outset;
    border-color: #c6aab8;
}

/*Zasady*/
.rules .container {
    max-width: 615px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: "Indie Flower", serif;
    font-style: normal;
}
.rules h1 {
    color: #333;
    font-size: 3rem;
    margin-bottom: 20px;
}
.rules p {
    color: #666;
    font-size: 1.35rem;
    text-align: justify;
}
.rules .btn {
    background-color: #c6aab8;
    border-width: 5px;
    border-style: inset;
    border-color: #963c8f;
    color: #963c8f;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.5rem;
    transition: background-color 0.3s;
}
.rules .btn:hover {
    background-color: #963c8f;
    color: #c6aab8;
    border-width: 5px;
    border-style: outset;
    border-color: #c6aab8;
}

/*Wybor trybu*/
