{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gra Wisielec</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="home-page">
    <div class="container">
        <img src="{% static 'image/NAZWA.png' %}" alt="LOGO" width="400" />
        <br>
        <h1>Witaj w grze Wisielec!</h1>
        <p>Spróbuj odgadnąć ukryte słowo, zanim zostaniesz powieszony :)</p>
        <a href="{% url 'zasady' %}" class="btn">Rozpocznij grę</a>
    </div>
</body>
</html>
