{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zasady Gry Wisielec</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="rules">
    <div class="container">
        <img src="{% static 'image/NAZWA.png' %}" alt="LOGO" width="400"  />
        <h1>Zasady Gry Wisielec</h1>
        <p>1. Celem gry jest odgadnięcie ukrytego słowa, literka po literce.</p>
        <p>2. Na początku widzisz tylko liczbę liter w słowie, a każda poprawna litera odsłania się.</p>
        <p>3. Za każdym razem, gdy odgadniesz literę poprawnie, jest ona odkrywana w słowie.</p>
        <p>4. Jeśli podasz niepoprawną literę, tracisz jedną próbę. Masz określoną liczbę prób.</p>
        <p>5. Gra kończy się, gdy zgadniesz całe słowo lub stracisz wszystkie próby.</p>
        <a href="{% url 'wybor_trybu' %}" class="btn btn-primary mt-3">Graj</a>
    </div>
</body>
</html>
